[Unit]
Description=LLVM build env
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
# Install run.sh to this path, or change to your run.sh location (e.g. /path/to/kn-action/docker/run.sh)
ExecStart=/usr/local/bin/openharmony-build-run.sh /llvm/run.sh

[Install]
WantedBy=multi-user.target
