[Unit]
Description=LLVM build env
# User scope: no dependency on system docker.service (ensure Docker is running before start)

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=10
ExecStart=/home/user/git/kmp/kn-action/scripts/llvm-builder-linux/run.sh /bin/bash /llvm/run.sh

[Install]
WantedBy=default.target
